header {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    display: flex;    
    gap: 1rem;
}
li {
    font-size: larger;
    position: relative;
    cursor: pointer;
}

li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: black;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 300ms ease-out;
}

li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
