* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="text"] {
  width: 100%;
}

#h1Id {
  color: rgb(228, 200, 157);
}

#h1Id {
    color:yellowgreen;
}

.h1Class {
  color: burlywood;
}

h1 {
  color: powderblue;
}

