.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 5vh);
    gap: 10px;
}

.grid-item {
    background-color: rgb(133, 228, 228);
    /* width: 300px; */
    /* height: 300px; */
    /* margin: 20px; */
}

.grid-container div:first-child {
    grid-column: 1/4;
}

.grid-container div:nth-child(2) {
    grid-row: 2/5;
}



.Page {
    display: grid;
    grid-template-columns: repeat(3, ifr);
    grid-template-rows: 100px 400px 100px;

    grid-template-areas: "header header" "sidebar main" "footer footer";
}

.header {
    grid-area: header;
}

.sidebar  {
    grid-area: sidebar;
}

.main {
    grid-area: main;
}


.footer {
    grid-area: footer;
}


.container {
  display: grid;
  grid-template-columns: repeat(3, 100px); /* 3 columns of 100px each */
  grid-template-rows: 100px 100px; /* 2 rows of 100px */
  
  justify-items: center; /* centers each item horizontally in its cell */
  align-items: end;      /* aligns each item at the bottom of its cell */
  
  /* for whole grid alignment inside container */
  justify-content: end;  /* moves the entire grid to the right inside container */
  align-content: center;  
  
  border: 2px solid black;
  height: 300px; /* extra height to see align-content effect */
}
.item {
  background-color: lightblue;
  border: 1px solid blue;
}
